<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/Content/css/styles.css" charset="utf-8">
  </head>
  <body>
    @if (Model == null) {
      <h2>Bienvenue!</h2>
    }
    else {
      <div id="container">
        @foreach (var number in Model) {
          <div class="answers hidden">
            <div> @number.GetNumber() </div> <div class="test hiddentest" style="font-family: sans-serif"> @number.Translate(number.GetNumber()) </div>
          </div>

        }
      </div>
    }
    <form action="/" method="post">
      <label for="amount">Bubblegum, bubblegum, in a dish. How many numbers do you wish?</label>
      <input name="amount" type="number" min="0" max="5000" value="10" required>
      <label for="max">Max?</label>
      <input name="max" type="number" min="0" max="999999999" value="100" required>
      <button type="submit">Allons-y!</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="/Content/js/scripts.js"></script>
  </body>
</html>
