/*.test{
  background-color: black;
}*/

/*.test:hover{
  background-color: white;
}*/

.answers{
  text-align: center;
  font-size: 40px;
  font-variant: small-caps;
  width: 80%;
  height: 500px;
  margin: 50px auto;
}

.answers div{
  display: inline-block;
  width: 40%;
  padding-top: 100px;
  height: 250px;
  margin: 0;
}

.hidden{
  display: none;
}

.hiddentest{
  background-color: black;
}
